.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App main {
  margin: 24px 0;
  padding: 0 24px;
}

.App .prompts-container {
  margin: 16px 0;
}

.App .prompts {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}